@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section class="container-fluid" style="display:block">
    <div style="float:left;position:fixed;margin-top:50px; margin-left:70px">
        <img src="~/lib/images/Cebu_Dalaguete_10365_0191-Edit.jpg" height="550" width="800" />
    </div>
    <div style="float:right;margin-top:50px">
        <form id="account" method="post" style="height:550px;
            background-color:whitesmoke; border-color:black; position:absolute" class="border border-white rounded w-50 p-3">
            <h4>Log in</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" placeholder="Email" class="form-control"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" placeholder="Password" class="form-control"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
     
            <div class="form-group">
                <button type="submit" class="btn" style="width: 100%; max-width: 540px; height: auto; background-color: #33b52e">Log in</button>
            </div>
            <hr />
            <div class="form-group">
              
                <div style="text-align:center">
                    <p> By signing up you agree to Harvest Online's <br /> Terms of Service & Privacy Policy</p>
                </div>
                <p style="text-align:center">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="color:#dc922a">New to Harvest Online? Sign Up</a>

                </p>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
