@model IEnumerable<HarvestOnline.Models.Product>

@{
    ViewData["Title"] = "DisplayView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div style="margin-top:30px; float:left; position:fixed">
        <table style="table-layout:fixed">
            @foreach (var item in Model)
            {
                <tr>
                    <td style="padding:20px 20px 20px 20px;" colspan="4" >
                        <figure>
                            <img style="width:240px; height:200px" src="@Url.Content(item.ImagePath)" />
                            <figcaption style="text-align:center">@Html.DisplayFor(modelItem => item.ItemName)</figcaption>
                            <figcaption style="text-align:center">@Html.DisplayFor(modelItem => item.Price)</figcaption>
                            <figcaption><input type="submit" value="Add To Cart" class="btn btn alert-info" style="text-align:center; margin-left:25%" /></figcaption>
                        </figure>
                    </td>
                </tr>
            }
        </table>
    </div>
</section>
