@model IEnumerable<HarvestOnline.Models.Product>

@{
    ViewData["Title"] = "DisplayView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div style="margin-top:30px; display:grid;grid-template-columns:auto auto auto auto">
        @foreach (var item in Model)
        {
            <figure style="text-align:center; margin-bottom:20px">
                <img style="width:240px; height:200px" src="@Url.Content(item.ImagePath)" />
                <figcaption>@Html.DisplayFor(modelItem => item.ItemName)</figcaption>
                <figcaption>@Html.DisplayFor(modelItem => item.Price)</figcaption>
                <figcaption><input type="submit" value="Add To Cart" class="btn btn alert-info"/></figcaption>
            </figure>
        }
    </div>
</section>
