@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="text-center">
    <img src="~/lib/images/output-onlinepngtools.png" style="vertical-align:middle" class="position-fixed; text-center">
</div>

<div>

    <div id="myCarousel" class="form-group" data-ride="carousel">
        <h1>My Address</h1>
        <p><h4>Add your address.</h4></p>
        <br /><br />
        <table>
            <tr>

                <td style="width: 400px">
                    <form>

                        <p>
                            <h4><b>Full Name</b><br /></h4>
                            <input class="form-control" type="text" size="15" required="required" placeholder="Full Name" />
                        </p>
                        <p>
                            <h4><b>Phone Number</b><br /></h4>
                            <input class="form-control" type="text" size="15" required="required" placeholder="Phone Number" />
                        </p>
                        <p>
                            <h4><b>Postal Code</b> <br /></h4>
                            <input class="form-control" type="text" size="15" required="required" placeholder="Postal Code" />
                        </p>
                        <p>
                            <h4><b>Region</b> <br /></h4>
                            <input class="form-control" type="text" size="15" required="required" placeholder="Region" />
                        </p>
                        <p>
                            <h4><b>Province</b> <br /></h4>
                            <input class="form-control" type="text" size="15" required="required" placeholder="Province" />
                        </p>
                        <p>
                            <h4><b>City</b> <br /></h4>
                            <input class="form-control" type="text" size="15" required="required" placeholder="City" />
                        </p>
                        <p>
                            <h4><b>Barangay</b> <br /></h4>
                            <input class="form-control" type="text" size="15" required="required" placeholder="Barangay" />
                        </p>
                        <p>
                            <h4><b>Building, Street, etc.</b> <br /></h4>
                            <input class="form-control" type="text" size="15" required="required" placeholder="Building, Street, etc." />
                        </p>
                        <p>
                            <input class="btn-lg btn-success" type="submit" value="Save" />
                        </p>
                        <br />
                        <br />
                        <br />
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

