
@{
    ViewData["Title"] = "Farmers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Farmers</h1>
<section>
    <div style="margin-top:30px; float:left; position:fixed">
       <table>
           <tr style="display:block">
               <td><img src="~/lib/images/1337014949_99743.png" />Dela Fuente Farm Corporation</td>
               <td><img src="~/lib/images/content_FF_LOGO-09.png" />Future Fresh Corporation</td>
               <td><img src="~/lib/images/1512398943-47-la-estancia-agri-ventures.jpg" />La Estancia Agri Ventures</td>
               <td><img src="~/lib/images/download.jpg" />KLT Frutis Incorporated</td>
           </tr>
       </table>
    </div>   
</section>

