
@{
    ViewData["Title"] = "Farmers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Farmers</h1>
<section>
    <div style="margin-top:30px; float:left; position:fixed">
       
    </div>   
</section>

