
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Objectives</h2>
<section class="container-fluid">
    <div>
        <div style="margin-top:30px; float:left; position:fixed; width:100%; max-width:500px; height:auto">
            <section>
                <p><mark style="background-color:antiquewhite">To provide fresh and handpicked fruits and vegetables to every consumer in the country.</mark></p>
            </section>

            <section style="margin-top:30px">
                <p><mark style="background-color:antiquewhite">To aim to champion our local farmers and work closely with them in order to give them</mark></p>
                <p><mark style="background-color:antiquewhite">better opportunities by introducing to them better technology and methods to market their</mark></p>
                <p><mark style="background-color:antiquewhite">products online.</mark></p>
            </section>

            <section style="margin-top:30px">
                <p><mark style="background-color:antiquewhite">To value consumers lifestyle that is why we are committed to sustain their health by</mark></p>
                <p><mark style="background-color:antiquewhite">providing them fresh products that gives them nutrition and good health.</mark></p>
            </section>

            <section style="margin-top:30px">
                <p><mark style="background-color:antiquewhite">To improve the lives of our local farmers and to our consumers.</mark></p>
            </section>
        </div>

        <div style="float:right">
            <img src="~/lib/images/farmers-give-up-on-us-july-9-2017.jpg" />
        </div>
    </div>
</section>



