
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Contact Us</h2>
<section class="container-fluid">
    <div style="margin-top:30px; float:left; position:fixed">
        <section>
            <p><b>General Inquiries</b></p>
            <p>General enquries about the Harvest Online should be sent to harvestonline.ph@gmail.com</p>
        </section>

        <section style="margin-top:30px">
            <p><b>Press and media</b></p>
            <p>For press releases, media or advocacy related inqueries, kindly email pressmedia@gmail.com</p>
        </section>

        <section style="margin-top:30px">
            <p><b>Like our page on Facebook</b></p>
            <p>http://www.facebook.com/harvestonlineph/</p>
        </section>

        <section style="margin-top:30px">
            <p><b>Follow us on Instagram</b></p>
            <p>http://www.instagram.com/harvestonlineph/?hl=en</p>
        </section>

        <section style="margin-top:30px">
            <p><b>Chat with Us on Whatsapp or Telegram</b></p>
            <p>0996582147</p>
        </section>
    </div>
</section>

