@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="container-fluid">
    <p>Hi there!</p>
    <p>
        If you would like to be a part of the Harvest Online Vendors please feel free to contact us at: <br />
        <b>Email:</b> harvestonline.ph@gmail.com <br />
        <b>Telephone Number:</b> (02) 8881 - 2345 <br />
        <b>Cellphone Number:</b> (0921) 623 4420 <br />

        <br />
        <br />

        If you have questions in regards with website please feel free to contact our customer service! <br />
        <b>Messenger :</b> https://www.messenger.com/t/10000127325421112/ <br />
        <b>Viber: </b> (0991) 512 4420 <br />
        <b>Facebook Group: </b> http://www.facebook.com/harvestonlineph-community/

        <br />
        <br />

        Thank you and God Bless!
    </p>
</div>

